<!-- 기본 꼴 <full-calendar [options]="calendarOptions"></full-calendar> -->

<!-- <full-calendar deepChangeDetection="true" [options]="calendarOptions"></full-calendar> -->

<!-- <full-calendar #calendar [options]="calendarOptions"></full-calendar> -->

<!-- toggle weekend 기능 
<button (click)="toggleWeekends()">toggle weekends</button>
<full-calendar [options]="calendarOptions"></full-calendar>
-->


<ion-header>
  header
</ion-header>
<ion-content>
  <ion-button [routerLink]="['/calendar']" expand="block" fill="clear" shape="round">
    Go to Calendar app
  </ion-button>

</ion-content>